@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    margin: 0px;
    padding: 0px;
    width: 0px;
}



html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: white;
    padding: 2px;
    box-shadow: 1px 1px 10px black;
    width: 100%;
    
   
}

header img{
    width: 170px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem 3rem;
}

.botao button{
    background-color: brown;
    border: none;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 10px;
}

.botao a{
    text-decoration: none;
    color: white;
}


.nav-list{
    display: flex;
    
}

.nav-list ul{
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    font-weight: 400px;
    
}

a:hover{
    color: red;
    transition: color 3s;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu-icon img{
    width: 40px;
    border: none;
}

.mobile-menu{
    display: none;

}

@media screen and (max-width:1300px)  {
    .nav-bar{
        padding: 1.5rem 3rem;
    }

    .nav-itens{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
        
    }

    .botao{
        display: none;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: rgb(231, 106, 106);
        padding-bottom: 1rem;
        
    }

    .mobile-menu ul li{
        border: 1px solid white;
        border-radius: 5px;
        
    }

    .mobile-menu .nav-itens{
        display: block;
        padding: 1.2rem;
    }
    
    .mobile-menu .botao{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .botao button{
        width: 100%;
    }
   
    .open{
        display: block;
    }
}

        .section-chamada  { 
            padding:0em 0; 
            background-color:white; 
        }
        
        .section-chamada .content {
             width:100%; 
             padding:0;
             margin:0; 
            }
        
        .topoPag  {
             width:100%;
             height:100%;
             background-color:transparent;
             float:left;
             position:relative; 
             overflow:hidden; 
             transition:all 500ms;
            -moz-transition:all 500ms; 
            -ms-transition:all 500ms; 
            -o-transition:all 500ms; 
            -webkit-transition:all 500ms;
            }
        
        .topoPag .mascara        {
             overflow:hidden;
             position:relative;
             }
        
        .topoPag .centraliza     {
            width: 90%; 
            height:auto;
             top:26%; 
             position:absolute; 
             margin:0 5%; 
        }
        
        .topoPag  img            { 
            width:100%;
         }
        
        .topoPag .centraliza h1  {
              width: 100%; 
              font-size:2em; 
              float:left;
              text-align:center; 
              color: white;
              text-transform:uppercase; 
              font-family:'open_sansbold';
              text-shadow: 2px 1px 5px #535353;
            }
        
        .topoPag .centraliza p   {
             width:100%; 
             font-size:1em;
              float:left; 
              text-align:center; 
              color: white;
              text-transform:uppercase; 
              font-family:'open_sansregular';
             }
       
       
        .topoPag .centraliza p b { 
            display:none; 
        }

  
 .nelma h2{
        color: white;
        font-size: 3em;
        margin-top: 15px;
}

   .nelma p{
       color: white;
       font-size: 1.5em;
}

   .salvador{
        background-color: rgb(234, 227, 227);
        padding: 100px 10px 120px;
    
}

    .gallary-row{
       display: flex;
       flex-wrap: wrap;
       gap: 5px;
}

    .gallary-row div{
       flex: 1 1 300px;
    
}

    .gallary-row div img{
       width: 100%;
       border-radius: 10px;
       margin-bottom: 16px;

}

     .salvador div {
        font-weight: bolder;
}



    .salvador h2{
       margin-bottom: 70px;
       padding-left: 5px;
       font-size: 2.5em;
       display: flex;
       align-items: center;
       justify-content: center;
       color: rgb(240, 152, 152);
}


div .conteinder{
    background-color: red;
}

.gallary-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

section{
    background-color: rgb(87, 85, 85);
    padding: 5px 2px 5px;
}

.ana h2{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 20px;
    text-align: center;
    color: rgb(240, 152, 152);
}


.rosa{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5em;
    color: rgb(233, 202, 202);
    text-align: center;
}

.rosa p input{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: 40px;
    border-radius: 10px;

}

input{
   color: red;
   font-size: 1em;
   
    
}


.pedro{
    background-color: rgba(244, 119, 119, 0.692);
    padding: 10px;
}

.pedro h2{
    background-color: brown;
    border-radius: 10px;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}

.pedro p{
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bolder;
}

.pedro div{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   gap: 7px;
}

.pedro  img{
    width: 60px;
    border-radius: 50%;
}

.acha{
    background-color: white;
}















